<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
        integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Skill Explorer</title>
</head>

<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="container jumbotron text-center col-6">
            <h1 class="display-4">Skill Builder</h1>
            <p class="lead">Take your skill to the next level</p>
            <hr class="my-4">
            <p>As we progress into the future, it is vital to our economy and future generation that we
                understand the trend for emerging and future workforce skills. We want to explore how we might provide a
                guiding hand for the general public and future generation on their skill development and career pathway.
            </p>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="container">
        <h2>You Core Competency Map</h2>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <canvas id="myChart" width="50" height="50"></canvas>
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="container col-6">
            <hr class="my-4">
            <h3>Occupation Recommendation</h3>
            <p class="lead">The following are your recommended occupation based on your competency</p>
            <li>
                Corporate Services Manager
            </li>
            <li>
                Business Manager
            </li>
            <li>
                Electrical Engineers
            </li>
            <li>
                Public Relations Professionals
            </li>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="container">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{url_for('index')}}" role="button">Home</a>
        </p>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Initiative and innovation', 'Teamwork', 'Problem solving', 'Oral communication', 'Digital engagement'],
                datasets: [{
                    label: '# of Votes',
                    data: [7, 9, 9, 7, 5],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
        });
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>

</html>